body {
    margin-top: 20px;
}

.background {
    background: url("../images/back.jpg") center center/cover no-repeat;
    opacity: 25%;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.sidebar-col{
    background-color: darkolivegreen;
}

.text-ref{
    max-width: 200px;
    color: darkslategrey;
    font-weight:bold;
}

.page-link{
    color: #6c757d;
}